@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=League+Spartan:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan';
}

.intro{
  background-image: url('/src/images/desktop-image-hero-1.jpg');
  background-size: cover;
  background-repeat: round;
  height: 100vh;
}